[submodule "cmake-modules"]
	path = external/cmake-modules
	url = https://gitlab.com/ska-telescope/cmake-modules.git
[submodule "eigen-3.3.90"]
	path = external/eigen-3.3.90
	url = https://gitlab.com/libeigen/eigen.git
[submodule "rapidjson-1.1.0"]
	path = external/rapidjson-1.1.0
	url = https://github.com/Tencent/rapidjson.git
