/build/
.public/
/docs/Doxyfile
/docs/build
/docs/src/api
/docs/src/_build
/testdata/*
!testdata/README.md
!testdata/install.sh
/Testing/
log/

# Git
*.orig

# Python
.pytest_cache/
*.pyc
*.a
*.so
*.hash
*.cache
*.egg-info/
dist/
build/
__pycache__/
setup.py


# Eclipse IDE files
.project
.cproject
/bin/

# VSCode Files
.vs/
.vscode/
clang-tidy-settings.json
