build/
.public/
Testing/
docs/Doxyfile
docs/build
docs/src/api
docs/src/_build
testdata/*
!testdata/README.md
!testdata/install.sh

*.orig

# Eclipse IDE files
.project
.cproject
/bin/

# VSCode Files
.vs/
.vscode/
clang-tidy-settings.json